.form {
    padding: 4rem 0;

    input{
        border: 1px solid #c79c60;
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../public/img/tm-brown-button.png');
        width: 196px;
        height: 46px;
        
        text-decoration: none;
        font-size: 16px;
        color: #c79c60;
        &:hover {
            color: white;
        }
        button{
            font-size: 16px;
            color: #c79c60;
            text-transform: uppercase;
            background-color: inherit;
            border: none;
        }
    }
}